<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'style.css') }}">
    <script src="{{ url_for('static',filename = 'script.js') }}"></script>
    <title>{{ user }}</title>
</head>
<body>
    <div class="profile">
        <div class="title">
            <div>
                hello {{user}}
            </div>
        </div>

        <div class="tableblock">
            <table>
                <tr>
                    <th>帳號</th>
                    <td id="outacc">{{ user }}</td>
                </tr>
                <tr>
                    <th>E-mail</th>
                    <td id="mail"></td>
                </tr>
                <tr>
                    <th>電話</th>
                    <td id="number"></td>
                </tr>
            </table>
        </div>

        <div class="logout">
            <div onclick="logout()">
                <div>登出</div>
            </div>
        </div>
    </div>

    <script>
        getdata();
    </script>

</body>
</html>