body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.main {
    background-color: white;
    border-radius: 20px;
    width: 300px;
    height: 450px;
}

.title {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title div{
    font-weight: bold;
    font-size: 30px;
}

.form {
    height: 65%;
}
.form div {
    height: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.forminput {
    height: 50%;
    width: 75%;
    border-radius: 10px;
}

.change {
    background-color: black;
    height: 15%;
    display: flex;
}
.nohide {
    width: 50%;
    background-color: white;
    border-radius: 0 0 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nohide div {
    font-weight: bold;
    font-size: 25px;
}

.hide {
    width: 50%;
    background-color: rgb(189, 189, 189);
    border-radius: 0 0 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hide div {
    font-weight: bold;
    font-size: 25px;
}

.profile {
    background-color: white;
    border-radius: 20px;
    width: 60%;
    height: 50%;
}

.tableblock {
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
table {
    width: 75%;
    height: 90%;
    border-collapse: collapse;
}
th {
    width: 100px;
    border: 2px solid black;
}
td {
    width: auto;
    border: 2px solid black;
    text-align: center;
}

.logout {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logout div {
    width: 20%;
    height: 50%;
    background-color: red;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logout div div {
    font-size: 20px;
    font-weight: bold;
    white-space:nowrap;
}

.check{
    background-color: rgb(10, 184, 10); 
    border-radius: 15px; font-size: 20px;
    padding: 5px; 
    width: 25%;
}

.upform{
    height: 65%;
}
.upform div {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.signupin{    
    height: 50%;
    width: 75%;
    border-radius: 10px;
}